<article class="main">
  <section>
    <h1><%= @matching_names.size %> set names matching "<%= @query %>"</h1> 
    <% @matching_names.each do |name| %>
      <a href="/0/<%= @set_names.index(name) %>"><%= "#{highlight_matches(name, @query)} (#{num_terms(name)} terms)" %></a>
    <% end %>
  </section>
  <section>
    <h1><%= @matching_cards.values.flatten.size / 2 %> cards matching "<%= @query %>"</h1> 
    <section class="search-results">
    <% @matching_cards.each do |name, cards| %>
      <a href="/0/<%= @set_names.index(name) %>"><%= name %></a>:
      <table>
        <colgroup>
          <col class="term">
          <col class="definition">
        </colgroup>
        <% cards.each do |term, definition| %>
          <tr>
            <td><%== highlight_matches(term, @query) %></td>
            <td><%== highlight_matches(definition, @query) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    </section>
  </section>
</article>
