<article class="main">
  <h1><%= @matches.values.flatten.size %> matches for "<%= @query %>"</h1>
  <section class="search-results">
  <% @matches.each do |name, cards| %>
    <h1><%= name %> (<%= cards.size %> matches)</h1>
    <table>
    <% cards.each do |term, definition| %>
      <tr>
        <td><%= term %></td>
        <td><%= definition %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  </section>
</article>
