<article class="main">
  <% total_matches = @matches.values.flatten.size / 2 %>
  <h1><%= "#{total_matches} #{match_or_matches(total_matches)}" %> for "<%= @query %>"</h1>
  <section class="search-results">
  <% @matches.each do |name, cards| %>
    <h1><%= "#{highlight_matches(name, @query)} (#{cards.size} #{match_or_matches(cards.size)})" %></h1>
    <table>
    <% cards.each do |term, definition| %>
      <tr>
        <td><%= highlight_matches(term, @query) %></td>
        <td><%= highlight_matches(definition, @query) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
  </section>
</article>
