<article class="main set">
  <h1><%= @display_title %></h1>
  <a class="button" href="/sets/<%= @username %>/<%= @url_title %>/flashcards">Study (Flashcards)</a>
  <table class="set">
  <% @cards.each do |term, definition| %>
    <colgroup>
      <col class="term">
      <col class="definition">
    </colgroup>
    <tr>
      <td><%== term %></td>
      <td><%== definition %></td>
    </tr>
  <% end %>
  </table>
</article>
